body    {
    background-color: lightsteelblue;
    font-family: monospace;
    color: red;
}

header  {
    background-color: steelblue;
}

header h1   {
    color: rgb(10, 10, 10);
    text-align: center;
}

header .main-nav  {
    margin-top: 15px;
    height: 40px;
    text-align: center;
}

.main-nav a   {
    margin-right: 15px;
    background-color: pink;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.main-nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

main {
    height: 450px;
}

.section-1 {
    background: tan;
    float: left;
    width: 60%;
    height: 100%;
}

.section-2  {
    background-color: palevioletred;
    float: right;
    width: 40%;
    height: 100%;
}

#coffeeImg  {
    width: 50%;
}

#catImg {
    width: 45%;
}

.another-nav ul {
    padding-left: 0px;
    border: 1px dashed red;
}

.another-nav ul li {
    list-style: none;
    display: inline-block;
    border: 1px dashed black;
}

.another-nav a {
    color: greenyellow;
    text-decoration: none;
    margin-right: 20px;
    background: indigo;
    border: 3px solid green;
}

.another-nav a:hover {
    font-size: 45px;
    background-color: orange;
}

footer  {
    background-color: steelblue;
}

#email {
    color: cyan;
}